name: Build Docs

on:
  workflow_call:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        build:
          - runs-on:
            - ubuntu-latest

    runs-on: ${{ matrix.build.runs-on }}

    env:
      MDBOOK_VERSION: v0.4.36

    steps:
    - uses: actions/checkout@v4
      with:
          fetch-depth: 0 # Fetch all history and tags
          clean: true

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "work-dir=$(pwd)" >> "$GITHUB_OUTPUT"
        echo "build-output-dir=$(pwd)/build" >> "$GITHUB_OUTPUT"

    - name: Git safe dir
      run: git config --global --add safe.directory ${{ steps.strings.outputs.work-dir }}

    - name: Install mdBook
      shell: bash
      run: |
        wget https://github.com/rust-lang/mdBook/releases/download/${MDBOOK_VERSION}/mdbook-${MDBOOK_VERSION}-x86_64-unknown-linux-gnu.tar.gz
        tar xvf mdbook-${MDBOOK_VERSION}-x86_64-unknown-linux-gnu.tar.gz

    - name: Setup Pages
      id: pages
      uses: actions/configure-pages@v5

    - name: Build Docs
      shell: bash
      run: |
        export PATH="$PATH:${{ steps.strings.outputs.work-dir }}"
        mdbook build docs/

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./docs/book
