name: Docs - Build & Deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch:

# Sets permissions for:
#   - downloading docker container
#   - allowing deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
  packages: write
  checks: write
  deployments: write

jobs:

  build-docs:
    uses: ./.github/workflows/build-docs.yml
    secrets: inherit

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    needs: build-docs
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
