name: Docs - Build & Deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch:

# Sets permissions for:
#   - downloading docker container
#   - allowing deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
  packages: read

jobs:

  docker-build:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit

  build:
    needs: docker-build
    strategy:
      fail-fast: false
      matrix:
        build:
          - runs-on:
            - ubuntu-latest

    runs-on: ${{ matrix.build.runs-on }}

    container:
      image: ${{ needs.docker-build.outputs.docker-image }}

    env:
      MDBOOK_VERSION: 0.4.36

    steps:
    - uses: actions/checkout@v4
      with:
          submodules: recursive
          fetch-depth: 0 # Fetch all history and tags

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "work-dir=$(pwd)" >> "$GITHUB_OUTPUT"
        echo "build-output-dir=$(pwd)/build" >> "$GITHUB_OUTPUT"

    - name: Git safe dir
      run: git config --global --add safe.directory ${{ steps.strings.outputs.work-dir }}

    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        create-symlink: true
        key: ${{ matrix.build.runs-on }}-runtime-${{ matrix.build.enable_runtime }}-${{ env.SDK_VERSION }}

    - name: Install mdBook
      shell: bash
      run: |
        source env/activate
        apt install cargo -y
        cargo install --version ${MDBOOK_VERSION} mdbook --locked

    - name: Setup Pages
      id: pages
      uses: actions/configure-pages@v5

    - name: Build Docs
      shell: bash
      run: |
        source env/activate
        export PATH="/github/home/.cargo/bin:$PATH"
        cmake -G Ninja -B build .
        cmake --build build -- docs

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./build/docs/book

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
