name: Model Analysis

on:
  workflow_dispatch:
  push:
    branches: [ "pchandrasekaran/update_model_analysis_workflow" ]

jobs:

  docker-build:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit

  build:
    needs: docker-build
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      build: "Release"

  model-analysis:
    needs:
      - docker-build
      - build
    runs-on: tt-beta-ubuntu-2204-n150-large-stable
    timeout-minutes: 5760 # Set job execution time to 4 days(default: 6 hours)

    container:
      image: ${{ needs.docker-build.outputs.docker-image }}
      options: --device /dev/tenstorrent/0
      volumes:
        - /dev/hugepages:/dev/hugepages
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /etc/udev/rules.d:/etc/udev/rules.d
        - /lib/modules:/lib/modules
        - /opt/tt_metal_infra/provisioning/provisioning_env:/opt/tt_metal_infra/provisioning/provisioning_env
        - /mnt/dockercache:/mnt/dockercache

    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
      HF_HOME: /mnt/dockercache/huggingface
      FORGE_MODELS_CACHE: /mnt/dockercache/forge_models_cache
      HF_HUB_DISABLE_PROGRESS_BARS: 1

    steps:

      - name: Set reusable strings
        id: strings
        shell: bash
        run: |
          echo "work-dir=$(pwd)" >> "$GITHUB_OUTPUT"
          echo "build-output-dir=$(pwd)/build" >> "$GITHUB_OUTPUT"

      - name: Git safe dir
        run: git config --global --add safe.directory ${{ steps.strings.outputs.work-dir }}

      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            env/
            forge/test
            pytest.ini
            conftest.py
            .test_durations

      # Clean everything from submodules (needed to avoid issues
      # with cmake generated files leftover from previous builds)
      - name: Cleanup submodules
        run: |
            git submodule foreach --recursive git clean -ffdx
            git submodule foreach --recursive git reset --hard

      - name: Find and download forge wheel
        uses: dawidd6/action-download-artifact@v9
        with:
          github_token: ${{ env.GITHUB_TOKEN }}
          workflow_conclusion: success
          workflow_search: true
          workflow: on-nightly.yml
          name: forge-wheel
          repo: tenstorrent/tt-forge-fe
          check_artifacts: true
          search_artifacts: true

      - name: Install wheel
        shell: bash
        run: |
          source env/activate
          pip install tvm*.whl --force-reinstall
          pip install forge*.whl --force-reinstall

      - name: Set environment variables
        shell: bash
        run: |
            OUTPUT=$(bash .github/model-analysis-config.sh)
            # Assign the script output to GitHub environment variables
            echo "$OUTPUT" | while IFS= read -r line; do
              echo "$line" >> $GITHUB_ENV
            done

      - name: Generate Models Ops test
        shell: bash
        run: |
          source env/activate
          set -o pipefail # Ensures that the exit code reflects the first command that fails
          python scripts/model_analysis/generate_models_ops_test.py \
            --test_directory_or_file_path ${{ env.TEST_DIR_OR_FILE_PATH }} \
            --unique_ops_output_directory_path ${{ env.UNIQUE_OPS_OUTPUT_DIR_PATH }} \
            --models_ops_test_output_directory_path ${{ env.MODELS_OPS_TEST_OUTPUT_DIR_PATH }} \
            --models_ops_test_package_name ${{ env.MODELS_OPS_TEST_PACKAGE_NAME }} \
            2>&1 | tee ${{ env.SCRIPT_OUTPUT_LOG }}

      - name: Upload Script Output Logs
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: script-outputs
          path: ${{ env.SCRIPT_OUTPUT_LOG }}

      - name: Upload Models Unique Ops test Failure Logs
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: unique-ops-logs
          path: ${{ env.UNIQUE_OPS_OUTPUT_DIR_PATH }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          branch: ${{ env.BRANCH_NAME }}
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          base: main
          commit-message: ${{ env.COMMIT_MESSAGE }}
          title: ${{ env.TITLE }}
          body: ${{ env.BODY }}
          delete-branch: true
          token: ${{ env.GITHUB_TOKEN }}
          add-paths: |
              ${{ env.OUTPUT_PATH }}
