# This workflow automates creation of uplift pull requests.
# Uplift PR is created daily to uplift the submodule to the latest version.

name: Nighty Uplift

on:
  schedule:
    - cron: '0 8 * * *'  # Runs at 08:00 UTC every day
  workflow_dispatch:  # Manual trigger
  push:

jobs:    
  uplift-pr:    
    runs-on: ubuntu-latest

    env:
      SUBMODULE_PATH: third_party/tt-mlir
      SUBMODULE_VERSION: origin/main

    steps:

      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0 # Fetch all history and tags
          ref: main

      - name: Set env variable
        run: |
          echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

      - name: Create uplift PR
        run: |
            cd $SUBMODULE_PATH
            git fetch origin
            git checkout $SUBMODULE_VERSION
            echo "### Latest commit in $SUBMODULE_PATH ###"
            git log -1
            cd ../..

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        id: create-pr
        with:
          branch: uplift
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          base: main
          commit-message: "Uplift $SUBMODULE_PATH to $SUBMODULE_VERSION $TODAY"
          title: "Uplift $SUBMODULE_PATH to $SUBMODULE_VERSION $TODAY"
          body: "This PR uplifts the $SUBMODULE_PATH submodule to the $SUBMODULE_VERSION."          
          labels: uplift
          reviewers: ${{ vars.INTEGRATION_OWNER }}
          delete-branch: true
          token: ${{ secrets.GH_TOKEN }}
          
      - name: Approve Pull Request
        if: ${{ steps.create-pr.outputs.pull-request-number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          echo "Pull Request Number - ${{ steps.create-pr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.create-pr.outputs.pull-request-url }}"        
          gh pr review ${{ steps.create-pr.outputs.pull-request-number }} --approve      
          
      - name: Enable Pull Request Automerge
        if: ${{ steps.create-pr.outputs.pull-request-number }}
        run: gh pr merge --merge --auto "${{ steps.create-pr.outputs.pull-request-number }}"
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
