name: On nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  docker-build:
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit
    with:
      test_mark: 'nightly'
      test_grouping: '{ "group_count": 4, "group_ids": [1,2,3,4] }'
