name: On nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:

  docker-build:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit

  build:
    needs: docker-build
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      build: 'None'

  test_full_model_passing:
    if: always()
    needs:
      - docker-build
      - build
    uses: ./.github/workflows/test-sub.yml
    secrets: inherit
    with:
      test_mark: 'nightly and not xfail'
      test_group_cnt: 4
      test_group_ids: '[1,2,3,4]'
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      runs-on: '[{"runs-on": "n150"}]'
      run_id: ${{ github.run_id }}

  perf-benchmark:
    if: always()
    needs:
      - docker-build
      - build
    uses: ./.github/workflows/perf-benchmark-sub.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      run_id: ${{ github.run_id }}

  test_full_model_xfailing:
    if: always()
    needs:
      - docker-build
      - build
    uses: ./.github/workflows/test-sub.yml
    secrets: inherit
    with:
      test_mark: 'nightly and xfail'
      test_group_cnt: 4
      test_group_ids: '[1,2,3,4]'
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      run_id: ${{ github.run_id }}
      runs-on: '[{"runs-on": "n150"}]'

  test_models_ops:
    if: always()
    needs:
      - docker-build
      - build
      - test_full_model_passing
      - perf-benchmark
      - test_full_model_xfailing
    uses: ./.github/workflows/test-sub.yml
    secrets: inherit
    with:
      test_mark: 'nightly_models_ops'
      test_group_cnt: 4
      test_group_ids: '[1,2,3,4]'
      run_id: ${{ github.run_id }}
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      runs-on: '[{"runs-on": "n150"}]'

  test_sweeps:
    if: always()
    needs:
      - docker-build
      - build
      - test_models_ops
    uses: ./.github/workflows/test-sub.yml
    secrets: inherit
    with:
      test_mark: 'nightly_sweeps'
      test_group_cnt: 4
      test_group_ids: '[1,2,3,4]'
      run_id: ${{ github.run_id }}
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      runs-on: '[{"runs-on": "n150"}]'
      operators: ${{ github.event.inputs.operators }}

  fail-notify:
    if: always()
    needs:
      - docker-build
      - build
      - test_full_model_passing
      - perf-benchmark
      - test_full_model_xfailing
      - test_models_ops
      - test_sweeps
    runs-on: Ubuntu-latest
    outputs:
      is-main: ${{ steps.branch-check.outputs.IS_MAIN }}
      failed: ${{ steps.check.outputs.failure }}
    steps:
      - name: Check if branch is main
        id: branch-check
        run: echo "IS_MAIN=$(if [ '${{ github.ref }}' == 'refs/heads/main' ]; then echo true; else echo false; fi)" >> $GITHUB_OUTPUT
      - name: Check if the needed jobs succeeded or failed
        id: check
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-failures: test_models_ops, test_sweeps

  fail-send-msg:
    if: always()
    needs:
      - fail-notify
    runs-on: Ubuntu-latest
    steps:
      - name: Send Fail Notification
        if: ${{ needs.fail-notify.outputs.failed == 'true' && needs.fail-notify.outputs.is-main == 'true' }}
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {
              "text": "Bad bad nightly: <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}>",
              "channel": "C08HFLL9L56"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_NIGHTLY_FAIL }}
