name: On nightly

on:
  schedule:
    - cron: '0 0 * * *' # Runs at 00:00 UTC every day

permissions:
  packages: write
  checks: write

# Set cache root to avoid IRD_LF_CACHE error when loading CenterNet ONNX model in CI
env:
  DOCKER_CACHE_ROOT: /mnt/dockercache
  IRD_LF_CACHE: ${{ vars.IRD_LF_CACHE }}

jobs:
  docker-build:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit

  build:
    needs: docker-build
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      build: 'Release'

  test_forge_model:
    needs:
      - docker-build
      - build
    uses: ./.github/workflows/test-sub.yml
    secrets: inherit
    with:
      test_mark: 'nightly'
      test_group_cnt: 6
      test_group_ids: '[1,2,3,4,5,6]'
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      run_id: ${{ github.run_id }}
      runs-on: '[{"runs-on": "n150"}]'
      tests_to_filter: 'forge/test/models/tensorflow,forge/test/models/onnx,forge/test/models/paddlepaddle'
      enable-verbose-output: true
