name: On nightly

on:
  workflow_dispatch:
    inputs:
      rebuild:
        description: 'Rebuild the Forge'
        required: false
        default: false
        type: boolean
      test_group_cnt:
        description: 'Test group count'
        required: false
        default: "2"
        type: choice
        options:
          - "1"
          - "2"
          - "3"
          - "4"
          - "8"
          - "12"
          - "16"
          - "20"
      run_ops_sweeps:
        description: 'Run sweeps tests'
        required: false
        default: 'No'
        type: choice
        options:
          - 'Yes'
          - 'No'
      runs-on:
        description: 'Runs on'
        required: false
        type: choice
        default: n150
        options:
          - n150
          - n300
          - p150

# Set cache root to avoid IRD_LF_CACHE error when loading CenterNet ONNX model in CI
env:
  DOCKER_CACHE_ROOT: /mnt/dockercache
  IRD_LF_CACHE: ${{ vars.IRD_LF_CACHE }}

permissions:
  packages: write
  checks: write

jobs:

  docker-build:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit

  set-inputs:
    runs-on: ubuntu-latest
    outputs:
      rebuild: ${{ steps.set-inputs.outputs.rebuild }}
      test_group_cnt: ${{ steps.set-inputs.outputs.test_group_cnt }}
      test_group_ids: ${{ steps.set-inputs.outputs.test_group_ids }}
      test_group_ids_os: ${{ steps.set-inputs.outputs.test_group_ids_os }}
      nightly_tests_paths: ${{ steps.set-inputs.outputs.nightly_tests_paths }}
      run_ops_sweeps: ${{ steps.set-inputs.outputs.run_ops_sweeps }}
      runs-on: ${{ steps.set-inputs.outputs.runs-on }}
      continue_on_crash: ${{ steps.set-inputs.outputs.continue_on_crash }}
    steps:
      - name: Set Inputs
        id: set-inputs
        run: |
          default_test_group_cnt=10
          default_run_ops_sweeps=No
          continue_on_crash=false
          # Determine runs-on (default based on input or n150)
          runs_on_val=$(if [ -z "${{ inputs.runs-on }}" ]; then echo "n150"; else echo "${{ inputs.runs-on }}"; fi)

          # Set defaults based on runner type
          if [ "$runs_on_val" == "p150" ]; then
            default_test_group_cnt=20
            continue_on_crash=true
          fi

          nightly_tests_paths="forge/test/mlir,forge/test/models/jax,forge/test/models/tensorflow,forge/test/models/onnx,forge/test/models/paddlepaddle"

          ros_res=$(if [ -z "${{ inputs.run_ops_sweeps }}" ]; then echo $default_run_ops_sweeps; else echo ${{ inputs.run_ops_sweeps }}; fi)
          if [ -z "${{ inputs.rebuild }}" ]; then
            echo "rebuild=All" >> $GITHUB_OUTPUT
          else
            echo "rebuild=$(if [ ${{ inputs.rebuild }} == 'true' ]; then echo Release; else echo None; fi)" >> $GITHUB_OUTPUT
          fi
          tgc=$(if [ -z "${{ inputs.test_group_cnt }}" ]; then echo $default_test_group_cnt; else echo ${{ inputs.test_group_cnt }}; fi)
          test_group_ids=$(seq -s ',' 1 $tgc)
          echo "test_group_cnt=$tgc" >> $GITHUB_OUTPUT
          echo "test_group_ids=[$test_group_ids]" >> $GITHUB_OUTPUT
          echo "test_group_ids_os=[$test_group_ids]" >> $GITHUB_OUTPUT
          #echo "test_group_ids_os=[$(if [ $ros_res == 'No' ]; then echo; else echo $test_group_ids; fi)]" >> $GITHUB_OUTPUT
          echo "run_ops_sweeps=$(if [ $ros_res == 'No' ]; then echo; else echo true; fi)" >> $GITHUB_OUTPUT
          echo "nightly_tests_paths=$nightly_tests_paths" >> $GITHUB_OUTPUT
          echo "runs-on=[{\"runs-on\": \"$runs_on_val\"}]" >> $GITHUB_OUTPUT
          echo "continue_on_crash=$continue_on_crash" >> $GITHUB_OUTPUT

  build:
    needs:
      - docker-build
      - set-inputs
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      build: ${{ needs.set-inputs.outputs.rebuild }}

  test_full_model_passing:
    if: success() || failure()
    needs:
      - set-inputs
      - docker-build
      - build
    uses: ./.github/workflows/test-sub.yml
    secrets: inherit
    with:
      test_mark: 'nightly and not xfail'
      test_group_cnt: ${{ needs.set-inputs.outputs.test_group_cnt }}
      test_group_ids: ${{ needs.set-inputs.outputs.test_group_ids }}
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      runs-on: ${{ needs.set-inputs.outputs.runs-on }}
      run_id: ${{ needs.build.outputs.run_id }}
      tests_to_filter: ${{ needs.set-inputs.outputs.nightly_tests_paths }}
      continue-on-crash: ${{ needs.set-inputs.outputs.continue_on_crash }}

  test_full_model_xfailing:
    if: success() || failure()
    needs:
      - docker-build
      - set-inputs
      - build
    uses: ./.github/workflows/test-sub.yml
    secrets: inherit
    with:
      test_mark: 'nightly and xfail'
      test_group_cnt: ${{ needs.set-inputs.outputs.test_group_cnt }}
      test_group_ids: ${{ needs.set-inputs.outputs.test_group_ids }}
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      run_id: ${{ needs.build.outputs.run_id }}
      runs-on: ${{ needs.set-inputs.outputs.runs-on }}
      tests_to_filter: ${{ needs.set-inputs.outputs.nightly_tests_paths }}
      continue-on-crash: ${{ needs.set-inputs.outputs.continue_on_crash }}

  test_sweeps:
    if: ${{ needs.set-inputs.outputs.run_ops_sweeps }}
    needs:
      - docker-build
      - set-inputs
      - build
    uses: ./.github/workflows/test-sub.yml
    secrets: inherit
    with:
      test_mark: 'nightly_sweeps'
      test_group_cnt: ${{ needs.set-inputs.outputs.test_group_cnt }}
      test_group_ids: ${{ needs.set-inputs.outputs.test_group_ids_os }}
      run_id: ${{ needs.build.outputs.run_id }}
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      runs-on: ${{ needs.set-inputs.outputs.runs-on }}
      allow-fail: true
      sh-runner: true

  fail-notify:
    if: always()
    needs:
      - docker-build
      - build
      - test_full_model_passing
      - test_full_model_xfailing
      - test_sweeps
    runs-on: Ubuntu-latest
    outputs:
      is-main: ${{ steps.branch-check.outputs.IS_MAIN }}
      failed: ${{ steps.check.outputs.failure }}
    steps:
      - name: Check if branch is main
        id: branch-check
        run: echo "IS_MAIN=$(if [ '${{ github.ref }}' == 'refs/heads/main' ]; then echo true; else echo false; fi)" >> $GITHUB_OUTPUT
      - name: Check if the needed jobs succeeded or failed
        id: check
        uses: re-actors/alls-green@v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-failures: test_models_ops, test_sweeps
          allowed-skips: test_models_ops, test_sweeps

  fail-send-msg:
    if: always()
    needs:
      - fail-notify
    runs-on: Ubuntu-latest
    steps:
      - name: Send Fail Notification
        if: ${{ needs.fail-notify.outputs.failed == 'true' && needs.fail-notify.outputs.is-main == 'true' }}
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {
              "text": "Bad bad nightly: <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}>",
              "channel": "C08HFLL9L56"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_NIGHTLY_FAIL }}
