name: On PR

on:
  workflow_dispatch:
    inputs:
      mlir_override:
        description: 'Git SHA of commit in tenstorrent/tt-mlir'
        required: false
        type: string
      run_perf_benchmark:
        description: 'Run performance benchmark'
        required: false
        type: boolean
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.mlir_override }}
  cancel-in-progress: true

permissions:
  packages: write
  checks: write

jobs:
  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
  docker-build:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      mlir_override: ${{ inputs.mlir_override }}
  build:
    needs: docker-build
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      mlir_override: ${{ inputs.mlir_override }}
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
  build-docs:
    needs: docker-build
    uses: ./.github/workflows/build-docs.yml
    permissions:
      contents: read
      pages: write
      id-token: write
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
  test:
    needs:
      - docker-build
      - build
    uses: ./.github/workflows/test-sub.yml
    secrets: inherit
    with:
      test_mark: 'push'
      test_group_cnt: 2
      test_group_ids: '[1,2]'
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      run_id: ${{ github.run_id }}
      runs-on: '[{"runs-on": "n150"}, {"runs-on": "n300"}]'

  perf-benchmark:
    if: inputs.run_perf_benchmark || (vars.RUN_PERF_ON_UPLIFT == 'true'  && github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'uplift'))
    needs:
      - docker-build
      - build
    uses: tenstorrent/tt-forge/.github/workflows/perf-benchmark.yml@main
    secrets: inherit
    with:
      project: tt-forge-fe
      run_id: ${{ github.run_id }}
      run_id_source: tt-forge-fe
      ref: ${{ github.ref }}

    #   uses: ./.github/workflows/perf-benchmark-sub.yml
    # secrets: inherit
    # with:
    #   docker-image: ${{ needs.docker-build.outputs.docker-image }}
    #   run_id: ${{ needs.build.outputs.run_id }}

  check-all-green:
    if: always()
    needs:
      - pre-commit
      - spdx
      - docker-build
      - build-docs
      - build
      - test
      - perf-benchmark
    runs-on: Ubuntu-latest
    steps:
    - name: Check if the needed jobs succeeded or failed
      uses: re-actors/alls-green@release/v1
      with:
        jobs: ${{ toJSON(needs) }}
        allowed-skips: perf-benchmark
