name: On push

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  docker-build:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
  build:
    needs: docker-build
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
  test:
    needs:
      - docker-build
      - build
    uses: ./.github/workflows/test-sub.yml
    secrets: inherit
    with:
      test_mark: 'push'
      test_group_cnt: 2
      test_group_ids: '[1,2]'
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      run_id: ${{ github.run_id }}
