name: On PR

on:
  workflow_dispatch:
  pull_request:
    branches: [ "main" ]

jobs:
  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
  docker-build:
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit
    with:
      test_mark: 'push'
