name: On PR

on:
  workflow_dispatch:
    inputs:
      mlir_override:
        description: 'Git SHA of commit in tenstorrent/tt-mlir'
        required: false
        type: string
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.mlir_override }}
  cancel-in-progress: true

permissions:
  packages: write
  checks: write
  id-token: write
  actions: write

# Set cache root to avoid IRD_LF_CACHE error when loading CenterNet ONNX model in CI
env:
  DOCKER_CACHE_ROOT: /mnt/dockercache
  IRD_LF_CACHE: ${{ vars.IRD_LF_CACHE }}

jobs:
  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
  docker-build:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      mlir_override: ${{ inputs.mlir_override }}
  build:
    needs: docker-build
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      mlir_override: ${{ inputs.mlir_override }}
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
  test:
    needs:
      - docker-build
      - build
    uses: ./.github/workflows/test-sub.yml
    secrets: inherit
    with:
      test_mark: 'push'
      test_group_cnt: 2
      test_group_ids: '[1,2]'
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      run_id: ${{ github.run_id }}
      runs-on: '[{"runs-on": "n150"}]'

  test-models:
    needs:
      - docker-build
      - build
    uses: ./.github/workflows/test-sub.yml
    secrets: inherit
    with:
      test_mark: 'nightly'
      test_group_cnt: 8
      test_group_ids: '[1,2,3,4,5,6,7,8]'
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      run_id: ${{ github.run_id }}
      runs-on: '[{"runs-on": "n150"}]'
      tests_to_filter: 'forge/test/models/tensorflow,forge/test/models/onnx,forge/test/models/paddlepaddle'

  check-all-green:
    if: always()
    needs:
      - pre-commit
      - spdx
      - docker-build
      - build
      - test
      - test-models
    runs-on: Ubuntu-latest
    steps:
    - name: Check if the needed jobs succeeded or failed
      uses: re-actors/alls-green@release/v1
      with:
        jobs: ${{ toJSON(needs) }}
        allowed-skips: perf-benchmark
