name: Performance Benchmark in TT-Forge

on:
  workflow_dispatch:
    inputs:
      mlir_override:
        description: 'Git SHA of commit in tenstorrent/tt-mlir'
        required: false
        type: string
      same_branch:
        description: 'Run on the branch with same name in tt-forge as the current workflow'
        required: false
        type: boolean
      tt_forge_branch:
        description: 'Branch of tt-forge to run the benchmarks on (empty=main)'
        required: false
        type: string
permissions:
  packages: write
  checks: write
  contents: write

jobs:
  docker-build:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      mlir_override: ${{ inputs.mlir_override }}
  build:
    needs: docker-build
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      mlir_override: ${{ inputs.mlir_override }}
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      build: Release
  run-perf-benchmarks:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - id: set-inputs
        run: |
          if [ "${{ inputs.same_branch }}" == 'true' ]; then
            echo "ref=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          else
            if [ -z "${{ inputs.tt_forge_branch }}" ]; then
              echo "ref=main" >> $GITHUB_OUTPUT
            else
              echo "ref=${{ inputs.tt_forge_branch }}" >> $GITHUB_OUTPUT
            fi
          fi
      - name: Trigger Perf Benchmark workflow
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GH_TOKEN }}
          repository: tenstorrent/tt-forge
          event-type: trigger-workflow
          client-payload: '{"project": "tt-forge-fe", "run_id": "${{ github.run_id }}", "ref": "${{ steps.set-inputs.outputs.ref }}"}'
