name: Test - subroutine

on:
  workflow_call:
    inputs:
      test_mark:
        description: 'Test mark to run'
        required: false
        default: 'push'
        type: string
      test_group_cnt:
        description: 'Test group count'
        required: false
        default: "2"
        type: string
      test_group_ids:
        description: 'Test group ids'
        required: false
        default: '[1,2]'
        type: string
      docker-image:
        description: 'Docker image to use for build'
        required: true
        type: string
      runs-on:
        description: 'Runs on'
        required: false
        type: string
        default: '[{"runs-on": "n150"}, {"runs-on": "n300"}, {"runs-on": "p150"}]'
      operators:
        description: 'Operators to test (comma separated)'
        required: false
        type: string
      filters:
        description: 'Filters for tests (comma separated)'
        required: false
        type: string
      test-expression:
        description: 'Run tests which match the given substring expression'
        required: false
        type: string
      run_id:
        description: 'Run id the workflow where to find installation (or else it will search)'
        required: false
        type: string
      allow-fail:
        description: 'Allow tests to fail (unstable tests)'
        required: false
        default: false
        type: boolean
      continue-on-crash:
        description: 'Continue if test crashes, otherwise restart the test'
        required: false
        type: boolean
      sh-runner:
        description: 'Run tests using shared runners'
        required: false
        type: boolean
      run_models_ops_tests:
        description: 'Run the generated models ops tests'
        required: false
        default: false
        type: boolean

jobs:
  run-tests:

    timeout-minutes: 1440 # Set job execution timeout to 1 day(default: 6 hours)
    strategy:
      fail-fast: false
      matrix:
        build: ${{ fromJson(inputs.runs-on) }}
        test_group_id: ${{ fromJSON(inputs.test_group_ids) }}

    runs-on: ${{ inputs.sh-runner && format('tt-ubuntu-2204-{0}-stable', matrix.build.runs-on) || fromJson(format('["{0}", "in-service"]', matrix.build.runs-on)) }}

    continue-on-error: ${{ inputs.allow-fail }}

    container:
      image: ${{ inputs.sh-runner && format('harbor.ci.tenstorrent.net/{0}', inputs.docker-image) || inputs.docker-image }}
      options: --device /dev/tenstorrent/0
      volumes:
        - /dev/hugepages:/dev/hugepages
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /etc/udev/rules.d:/etc/udev/rules.d
        - /lib/modules:/lib/modules
        - /opt/tt_metal_infra/provisioning/provisioning_env:/opt/tt_metal_infra/provisioning/provisioning_env
        - /mnt/dockercache:/mnt/dockercache

    name: "run-tests ${{ inputs.test_mark }} (${{ inputs.sh-runner && format('{0}-shared', matrix.build.runs-on) || (matrix.build.runs-on) }}, ${{ matrix.test_group_id }})"

    steps:

      - name: Fetch job id
        id: fetch-job-id
        uses: tenstorrent/tt-github-actions/.github/actions/job_id@main
        with:
          job_name: "run-tests ${{ inputs.test_mark }} (${{ inputs.sh-runner && format('{0}-shared', matrix.build.runs-on) || (matrix.build.runs-on) }}, ${{ matrix.test_group_id }})"

      - name: Set reusable strings
        id: strings
        shell: bash
        env:
          JOB_ID: ${{ steps.fetch-job-id.outputs.job_id }}
        run: |
          echo "work-dir=$(pwd)" >> "$GITHUB_OUTPUT"
          echo "build-output-dir=$(pwd)/build" >> "$GITHUB_OUTPUT"
          echo "test_report_path=reports/report_$JOB_ID.xml" >> "$GITHUB_OUTPUT"

      - name: Git safe dir
        run: git config --global --add safe.directory ${{ steps.strings.outputs.work-dir }}

      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            .github/workflows/
            env/
            forge/test
            pytest.ini
            conftest.py
            .test_durations

      - name: Setup Forge Models repo
        shell: bash
        run: |
          git submodule update --init --recursive -f third_party/tt_forge_models

        # Clean everything from submodules (needed to avoid issues
        # with cmake generated files leftover from previous builds)
      - name: Cleanup submodules
        run: |
          git submodule foreach --recursive git clean -ffdx
          git submodule foreach --recursive git reset --hard

      - name: Download wheel
        if: ${{ inputs.run_id }}
        continue-on-error: true
        uses: tenstorrent/tt-forge/.github/actions/download-artifact@main
        with:
          name: forge-wheel
          run_id: ${{ inputs.run_id }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Find and download forge wheel
        if: ${{ !inputs.run_id }}
        uses: dawidd6/action-download-artifact@v9
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          workflow_conclusion: success
          workflow_search: true
          workflow: on-push.yml
          name: forge-wheel
          repo: tenstorrent/tt-forge-fe
          check_artifacts: true
          search_artifacts: true

      - name: Install wheel
        shell: bash
        run: |
          source env/activate
          pip install tt_tvm*.whl --upgrade
          pip install tt_forge_fe*.whl --upgrade

      - name: Download Generated Models Ops Tests
        if: ${{ inputs.run_models_ops_tests }}
        continue-on-error: true
        uses: tenstorrent/tt-forge/.github/actions/download-artifact@main
        with:
          name: generated-models-ops-tests
          run_id: ${{ inputs.run_id }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          path: forge/test/models_ops

      - name: Collect Test
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HOME: /mnt/dockercache/huggingface
          IRD_LF_CACHE: ${{ vars.IRD_LF_CACHE }}
          FORGE_MODELS_CACHE: /mnt/dockercache/forge_models_cache
          HF_HUB_DISABLE_PROGRESS_BARS: 1
          FORGE_DISABLE_REPORTIFY_DUMP: 1
          OPERATORS: ${{ inputs.operators }}
          FILTERS: ${{ inputs.filters }}
        shell: bash
        run: |
          source env/activate
          echo "Collecting tests for group ${{ matrix.test_group_id }} with mark '${{ inputs.test_mark }}'..."
          set +e
          pytest_args=(
            "--splits" "${{ inputs.test_group_cnt }}"
            "--group" "${{ matrix.test_group_id }}"
            "--splitting-algorithm" "least_duration"
            "-m" "${{ inputs.test_mark }}"
            "--collect-only"
          )
          if [ -n "${{ inputs.test-expression }}" ]; then
            pytest_args+=("-k" "${{ inputs.test-expression }}")
          fi
          pytest "${pytest_args[@]}" -q \
                | sed -n '/^Collected tests /,/^collected /p' | sed '/^[Cc]ollected /d' >.pytest_tests_to_run

          if [ $? -ne 0 ]; then
            echo "Failed to collect tests. Doing dry run..."
            set -e
            pytest "${pytest_args[@]}" -svv
            exit 1
          fi
          echo "Collected tests."
          cp .pytest_tests_to_run collected_test_list

      - name: Upload collected tests
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: collected-test-list-${{ matrix.build.runs-on }}-${{ matrix.test_group_id }}-${{ inputs.test_mark }}-${{ steps.fetch-job-id.outputs.job_id }}
          path: collected_test_list

      - name: Run Test
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HOME: /mnt/dockercache/huggingface
          IRD_LF_CACHE: ${{ vars.IRD_LF_CACHE }}
          FORGE_MODELS_CACHE: /mnt/dockercache/forge_models_cache
          HF_HUB_DISABLE_PROGRESS_BARS: 1
          FORGE_DISABLE_REPORTIFY_DUMP: 1
          OPERATORS: ${{ inputs.operators }}
          FILTERS: ${{ inputs.filters }}
        shell: bash
        run: |
          source env/activate
          python .github/workflows/test_runner.py  \
               --junit-xml=${{ steps.strings.outputs.test_report_path }} \
               --log-memory-usage \
               $(if [ "${{inputs.continue-on-crash}}" = "true" ]; then echo "--continue-after-crash"; fi)
          exit_code=$?

          if [ -f "crashed_pytest.log" ]; then
            echo "Creating crash summary for the job..."
            echo "### Crashed tests:" >>$GITHUB_STEP_SUMMARY
            cat crashed_pytest.log >>$GITHUB_STEP_SUMMARY
          fi
          exit $exit_code

      - name: Upload Test Log
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: test-log-${{ matrix.build.runs-on }}-${{ matrix.test_group_id }}-${{ inputs.test_mark }}-${{ steps.fetch-job-id.outputs.job_id }}
          path: pytest.log

      - name: Upload Test Crash Log
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: test-crash-log-${{ matrix.build.runs-on }}-${{ matrix.test_group_id }}-${{ inputs.test_mark }}-${{ steps.fetch-job-id.outputs.job_id }}
          path: crashed_pytest.log

      - name: Upload Memory Usage Log
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: memory-usage-${{ matrix.build.runs-on }}-${{ matrix.test_group_id }}-${{ inputs.test_mark }}-${{ steps.fetch-job-id.outputs.job_id }}
          path: pytest-memory-usage.csv

      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: test-reports-${{ matrix.build.runs-on }}-${{ matrix.test_group_id }}-${{ steps.fetch-job-id.outputs.job_id }}
          path: ${{ steps.strings.outputs.test_report_path }}

      - name: Show Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          report_paths: ${{ steps.strings.outputs.test_report_path }}
          check_name: TT-Forge-FE Tests
          comment: false
          updateComment: false
          detailed_summary: true
          group_suite: true
