name: Test

on:
  workflow_dispatch:
    inputs:
      mlir_override:
        description: 'Git SHA of commit in tenstorrent/tt-mlir or branch name (triggers build)'
        required: false
        type: string
      workflow_runners:
        description: 'Workflow run ID to fetch wheels from (skip build)'
        required: false
        type: string
      test_mark:
        description: 'Test mark to run'
        required: false
        default: 'push'
        type: string
      runs-on:
        description: 'Runs on'
        required: false
        type: choice
        options:
          - n150
          - n300
          - p150
      test_group_cnt:
        description: 'Test group count'
        required: false
        default: "2"
        type: choice
        options:
          - "1"
          - "2"
          - "3"
          - "4"
          - "8"
      sh-runner:
        description: 'Run tests using shared runners'
        required: false
        default: false
        type: boolean
      on-crash:
        description: 'If test crashes, continue or restart test suite'
        required: false
        default: "Continue"
        type: choice
        options:
          - "Continue"
          - "Restart"
      tests_to_filter:
        description: 'Filter specific tests (comma separated)'
        required: false
        type: string

permissions:
  packages: write
  checks: write

run-name: "Test (Mark: ${{ inputs.test_mark }} - ${{ inputs.sh-runner && format('{0}-shared', inputs.runs-on) || (inputs.runs-on) }} - ${{ inputs.test_group_cnt }} - Run ID: ${{ inputs.workflow_runners }} - MLIR Override: ${{ inputs.mlir_override }} - Tests to Filter: ${{ inputs.tests_to_filter }})"

jobs:

  save-inputs:
    runs-on: ubuntu-latest
    steps:
      - name: Show input parameters
        run: |
          echo "## Input Parameters" >> $GITHUB_STEP_SUMMARY
          echo "- Branch: ${{ github.ref_name }}" >> $GITHUB_STEP_SUMMARY
          echo "- Test Mark: ${{ inputs.test_mark }}" >> $GITHUB_STEP_SUMMARY
          echo "- Runs On: ${{ inputs.runs-on }}" >> $GITHUB_STEP_SUMMARY
          echo "- Shared Runner: ${{ inputs.sh-runner }}" >> $GITHUB_STEP_SUMMARY
          echo "- Test Group Count: ${{ inputs.test_group_cnt }}" >> $GITHUB_STEP_SUMMARY
          echo "- On Crash: ${{ inputs.on-crash }}" >> $GITHUB_STEP_SUMMARY
          echo "- Workflow Runners (Run ID): ${{ inputs.workflow_runners }}" >> $GITHUB_STEP_SUMMARY
          echo "- MLIR Override: ${{ inputs.mlir_override }}" >> $GITHUB_STEP_SUMMARY
          echo "- Tests to Filter: ${{ inputs.tests_to_filter }}" >> $GITHUB_STEP_SUMMARY
      - name: Save inputs to file
        run: |
          echo '{ "branch_name": "${{ github.ref_name }}", "test_mark": "${{ inputs.test_mark }}", "runs-on": "${{ inputs.runs-on }}", "sh-runner": "$${{ inputs.sh-runner }}", "test_group_cnt": "${{ inputs.test_group_cnt }}", "on-crash": "${{ inputs.on-crash }}", "workflow_runners": "${{ inputs.workflow_runners }}", "mlir_override": "${{ inputs.mlir_override }}", "tests_to_filter": "${{ inputs.tests_to_filter }}" }' > inputs.json
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: inputs
          path: inputs.json

  docker-build:
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    with:
      mlir_override: ${{ inputs.mlir_override }}

  set-inputs:
    runs-on: ubuntu-latest
    needs: docker-build
    outputs:
      buildtype: ${{ steps.set-inputs.outputs.buildtype }}
      test_group_cnt: ${{ steps.set-inputs.outputs.test_group_cnt }}
      test_group_ids: ${{ steps.set-inputs.outputs.test_group_ids }}
      test_mark: ${{ steps.set-inputs.outputs.test_mark }}
      runs-on: ${{ steps.set-inputs.outputs.runs-on }}
      tests_to_filter: ${{ steps.set-inputs.outputs.tests_to_filter }}
      run_id: ${{ steps.set-inputs.outputs.runid }}
      continue_on_crash: ${{ steps.set-inputs.outputs.continue_on_crash }}
    steps:
      - name: Inputs Management
        id: set-inputs
        run: |
          if [ -n "${{ inputs.mlir_override }}" ]; then
            echo "buildtype=All" >> $GITHUB_OUTPUT
            echo "runid=${{ github.run_id }}" >> $GITHUB_OUTPUT
          elif [ -n "${{ inputs.workflow_runners }}" ]; then
            echo "buildtype=None" >> $GITHUB_OUTPUT
            echo "runid=${{ inputs.workflow_runners }}" >> $GITHUB_OUTPUT
          else
            echo "buildtype=Release" >> $GITHUB_OUTPUT
            echo "runid=${{ github.run_id }}" >> $GITHUB_OUTPUT
          fi
          echo "test_group_cnt=${{ inputs.test_group_cnt }}" >> $GITHUB_OUTPUT
          echo "test_group_ids=[$(seq -s ',' 1 ${{ inputs.test_group_cnt }})]" >> $GITHUB_OUTPUT
          echo "runs-on=[{\"runs-on\": \"${{ inputs.runs-on }}\"}]" >> $GITHUB_OUTPUT
          echo "tests_to_filter=${{ inputs.tests_to_filter }}" >> $GITHUB_OUTPUT
          echo "test_mark=${{ inputs.test_mark }}" >> $GITHUB_OUTPUT
          if [ "${{ inputs.on-crash }}" = "Continue" ]; then
            echo "continue_on_crash=true" >> $GITHUB_OUTPUT
          else
            echo "continue_on_crash=false" >> $GITHUB_OUTPUT
          fi

  build:
    needs:
      - docker-build
      - set-inputs
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      build: ${{ needs.set-inputs.outputs.buildtype}}
      mlir_override: ${{ inputs.mlir_override }}

  run-tests:
    if: success() || failure()
    needs:
      - docker-build
      - build
      - set-inputs
    uses: ./.github/workflows/test-sub.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.docker-build.outputs.docker-image }}
      test_mark: ${{ needs.set-inputs.outputs.test_mark }}
      test_group_cnt: ${{ needs.set-inputs.outputs.test_group_cnt }}
      test_group_ids: ${{ needs.set-inputs.outputs.test_group_ids }}
      runs-on: ${{ needs.set-inputs.outputs.runs-on }}
      sh-runner: ${{ inputs.sh-runner }}
      tests_to_filter: ${{ needs.set-inputs.outputs.tests_to_filter }}
      run_id: ${{ needs.set-inputs.outputs.run_id }}
      continue-on-crash: ${{ needs.set-inputs.outputs.continue_on_crash == 'true' }}
